.App {
  text-align: center;
  background-color: #007bff; /* Blue background */
  height: 100vh; /* Full viewport height */
  color: white; /* White text for better contrast */
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

h2 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.5em;
  padding: 0 20px;
}

.button-container {
  display: flex; /* Use flexbox for horizontal alignment */
  justify-content: center; /* Center the buttons */
  gap: 20px; /* Space between buttons */
}

.button {
  background-color: white; 
  color: black; /* Black text for the button */
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #f0f0f0; 
}
